div.carre {
  border:black solid;
  height:400px;
  width:400px;
  margin:auto;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.green {
  background: green;
}
.yellow {
  background: yellow;
}
