p {
  border:black solid;
  height:100px;
  width:100px;
  margin:auto;
}
.red {
  background: red;
}

.blue {
  background: blue;
}

.green {
  background: green;
}
.yellow {
  background: yellow;
}
