button{
  height:192px;
  width:192px;
  display: inline-block;
  margin: 1%;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.green {
  background: green;
}
.yellow {
  background: yellow;
}

